<div class="container my-4">
  <% render partial: 'application/flash' %>
  <div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">Your cart</span>
        <span class="badge bg-primary rounded-pill"><%= @total_quantity %></span>
      </h4>
      <ul class="list-group mb-3">
        <%# -- one item -- %>
        <% unless @cart_products.nil? %>
          <%  @cart_products.each do |cart_product|%>
            <li class="list-group-item d-flex justify-content-between align-items-center lh-sm">
              <div>
                <h6 class="my-0"><%= cart_product.product.name %></h6>
              </div>
              <span class="text-body-secondary"><%= "#{cart_product.product.price}円" %></span>
              <span class="text-body-secondary"><%= "数量: #{cart_product.quantity}" %></span>
              <%= link_to carts_delete_path(product_id: cart_product.product_id), data: { "turbo-method": :delete }, class: 'btn btn-outline-dark border' do %>
                <i class="bi bi-trash3"></i>
              <% end %>
            </li>
          <% end %>
        <% end %>
        <%# -- end -- %>
        <li class="list-group-item d-flex justify-content-between bg-body-tertiary">
          <div class="text-success">
            <h6 class="my-0">Promo code</h6>
            <small>EXAMPLECODE</small>
          </div>
          <span class="text-success">−$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
          <span>Total</span>
          <strong><%= "#{@billing_amount}円"%></strong>
        </li>
      </ul>
      <%# -- promotin code -- %>
      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <button type="submit" class="btn btn-secondary">Redeem</button>
        </div>
      </form>
    </div>
    <%# -- billing address -- %>
    <div class="col-md-7 col-lg-8">
      <h4 class="mb-3">Billing address</h4>
      <%= form_with model: @order, url: orders_path do |f| %>
        <% if flash[:error_messages] %>
          <div id='error_explanation'>
            <div class="alert alert-danger ">
              The form contain <%= pluralize(flash[:error_messages].count, "error") %>
            </div>
            <ul>
              <% flash[:error_messages].each do |message| %>
                <li class="text-danger"><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="row g-3">
          <div class="col-sm-6">
            <%= f.label :first, "First Name" %>
            <%= f.text_field :first, class:"form-control" %>
          </div>
          <div class="col-sm-6">
            <%= f.label :last, "Last Name" %>
            <%= f.text_field :last, class:"form-control" %>
          </div>
          <div class="col-12">
            <%= f.label :username, "Username" %>
            <div class="input-group">
              <span class="input-group-text">@</span>
              <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
            </div>
          </div>
          <div class="col-12">
            <%= f.label :email, "Email" %><span class="text-body-secondary"> (Optional)</span>
            <%= f.text_field :email, placeholder:"you@example.com", class:"form-control" %>
          </div>
          <div class="col-12">
            <%= f.label :address1, "Address" %>
            <%= f.text_field :address1, placeholder:"1234 Main St", class:"form-control" %>
          </div>
          <div class="col-12">
            <%= f.label :address2, "Address2" %><span class="text-body-secondary"> (Optional)</span>
            <%= f.text_field :address2, placeholder:"Apartment or suite", class:"form-control" %>
          </div>
          <div class="col-md-5">
            <%= f.label :country, "Country" %>
            <%= f.text_field :country, class: "form-control" %>
          </div>
          <div class="col-md-4">
            <%= f.label :state, "State" %>
            <%= f.text_field :state, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <%= f.label :zip, "Zip" %>
            <%= f.text_field :zip, class: "form-control" %>
          </div>
        </div>
        <%# checkbox %>
        <hr class="my-4">
        <div class="form-check">
          <%= f.check_box :same_address_flag, class: "form-check-input", checked_value: '1', unchecked_value: '0' %>
          Shipping address is the same as my billing address
        </div>
        <div class="form-check">
          <%= f.check_box :save_info_flag, class: "form-check-input", checked_value: '1', unchecked_value: '0' %>
          Save this information for next time
        </div>
        <hr class="my-4">
        <h4 class="mb-3">Payment</h4>
        <div class="my-3">
          <div class="form-check">
            <%= f.radio_button :payment_methods, 1, checked: true, class: "form-check-input"%>
            Credit card
          </div>
        </div>
        <div class="row gy-3">
          <div class="col-md-6">
            <%= f.label :card_name, "Name on card" %>
            <%= f.text_field :card_name, class: "form-control" %>
            <small class="text-body-secondary">Full name as displayed on card</small>
          </div>
          <div class="col-md-6">
            <%= f.label :card_number, "Credit card number" %>
            <%= f.text_field :card_number, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <%= f.label :expiration, "Expiration" %>
            <%= f.text_field :expiration, class: "form-control" %>
          </div>
          <div class="col-md-3">
            <%= f.label :cvv, "CVV" %>
            <%= f.text_field :cvv, class: "form-control" %>
          </div>
        </div>
        <hr class="my-4">
        <% if total_quantity.zero? %>
          <%= link_to "Continue Shopping", products_path, class: "w-100 btn btn-outline-dark btn-lg"%>
        <% else %>
          <div class="row">
            <div class="col-md-6">
              <%= link_to "Continue Shopping", products_path, class: "w-100 btn btn-outline-dark btn-lg"%>
            </div>
            <div class="col-md-6">
              <%= f.submit "Purchase", class: "w-100 btn btn-outline-dark btn-lg"%>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
