<%= render partial: 'application/navigation' %>
<!-- Product section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 my-5">
    <div class="row gx-4 gx-lg-5 align-items-center">
      <div class="col-md-6"><%= image_tag @product.product_image.variant(resize: "300x300^", gravity: "center", crop: "300x300+0+0"), class: "card-img-top mb-5 mb-md-0", alt: "お菓子の画像" %></div>
      <div class="col-md-6">
        <div class="small mb-1">SKU: BST-498</div>
        <h1 class="display-5 fw-bolder"><%= @product.name %> </h1>
        <div class="fs-5 mb-5">
          <span><%= "#{@product.price}円" %></span>
        </div>
        <p class="lead"><%= @product.description %></p>
        <div class="d-flex">
          <%= form_with url: carts_path do |f| %>
            <%= f.number_field :quantity, value: '1', class: "form-control text-center me-3", style: "max-width: 3rem"%>
            <%= f.submit class: "btn btn-outline-dark mt-auto" do %>
              <i class="bi-cart-fill me-1"></i>
              Add to Cart
            <% end %>
          <% end %>
          <div class="text-center">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
  <div class="container px-4 px-lg-5 mt-5">
    <h2 class="fw-bolder mb-4">Related products</h2>
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @related_products.each do |product| %>
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <%= image_tag product.product_image.variant(resize: "300x300^", gravity: "center", crop: "300x300+0+0"), class: "card-img-top", alt: "お菓子の写真" %>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder"><%=link_to product.name, product_path(product), class: "text-secondary" %></h5>
                <!-- Product price-->
                <%= "#{product.price}円" %>
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center">
                <%= button_to "Add to Cart", carts_path, params: {product_id: product.id, quantity: 1, page_info: { page: 'show', main_product: @product}} , class: "btn btn-outline-dark mt-auto" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
